# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [12]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

# Configure gmaps
gmaps.configure(api_key = g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [13]:
# #import csv as data frame
# city_data = pd.read_csv(".\output\city_data.csv")
# city_data.head()

# #Drop cities that are missing values.  & shows stats
# clean_city_data = city_data.dropna()
# clean_city_data.describe()
# clean_city_data.head()

#import csv as data frame for test file

city_data_test = pd.read_csv(".\output\city_data_test.csv")
#city_data_test.head(10)

#convert strings to floats in data frame

# city_data_test["Humidity"] = city_data_test["Humidity"].astype(float)
city_data_test["Humidity"] = city_data_test["Humidity"].astype(float)
city_data_test["Wind Speed"] = city_data_test["Wind Speed"].astype(float)
city_data_test["Max Temp"] = city_data_test["Max Temp"].astype(float)
city_data_test["Cloudiness"] = city_data_test["Cloudiness"].astype(float)
#city_data_test["Date"] = pd.to_datetime(city_data_test["Date"], format = '%Y%m%d')


#Drop cities that are missing value & shows stats for test
clean_city_data_test = city_data_test.dropna()

#clean_city_data_test.describe()

clean_city_data_test.head()

,City,Lat,Lng,Max Temp,Humidity,Wind Speed,Cloudiness,Country,Date
0,Port Hedland,59.70,30.79,45.00,93.0,4.47,90.0,AU,1.604115e+09
1,New Norfolk,33.28,134.15,68.00,30.0,3.36,20.0,AU,1.604115e+09
2,Mount Gambier,3.07,172.79,82.58,76.0,19.42,63.0,AU,1.604114e+09
3,Port Elizabeth,65.09,12.37,48.20,76.0,13.87,100.0,ZA,1.604115e+09
4,Yulara,21.23,81.63,69.80,64.0,3.36,0.0,AU,1.604115e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [7]:
# Create city humidity heat Map of all of Part 1s data 

# Store latitude and longitude in locations
locations = clean_city_data_test[["Lat", "Lng"]]

# Convert Humidity to float JIC
rating = clean_city_data_test["Humidity"] 

# Plot Heatmap
fig_13 = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=rating, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=2)

# Add layer
fig_13.add_layer(heat_layer)

# Display figure
fig_13

# Save a png
#fig_13.figure.savefig('.\output\City_Humidity Heatmap.png')

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [17]:
clean_city_data_test.head()
# Reduce amount based on Weather criteria  Humidity <= 75.  Max Temp > 50.  Wind Speed <10.  Cloudiness <30

ideal_city = clean_city_data_test.loc[(clean_city_data_test["Wind Speed"] <10) & 
                                      (clean_city_data_test["Humidity"] < 75) &
                                      (clean_city_data_test["Max Temp"]> 50) &
                                      (clean_city_data_test["Wind Speed"] < 10) &
                                      (clean_city_data_test["Cloudiness"] < 30)
                                     ]

ideal_city.head(7)

,City,Lat,Lng,Max Temp,Humidity,Wind Speed,Cloudiness,Country,Date
1,New Norfolk,33.28,134.15,68.00,30.0,3.36,20.0,AU,1.604115e+09
4,Yulara,21.23,81.63,69.80,64.0,3.36,0.0,AU,1.604115e+09
16,Hobart,43.32,145.57,51.80,53.0,9.17,20.0,AU,1.604115e+09
44,Tairua,17.02,54.09,73.40,38.0,3.36,0.0,NZ,1.604115e+09
74,Mount Gambier,13.49,106.98,85.60,67.0,7.29,0.0,AU,1.604115e+09
84,Kununurra,-8.93,125.41,80.38,39.0,4.00,0.0,AU,1.604115e+09

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# # Humidity heat map Config gmaps

# params = {
#     "key": g_key,
#     "radius": 50000
# }

# # Use the lat/lan for locations
# for index, row in clean_city_data_test.iterrows():  
#     lat = row['Lat']
#     lng = row['Lng']
#     humidity = row['Humidity']

#     # change location each iteration while leaving original params in place
#     params["location"] = f"{lat},{lng}"
   
#     # Use the search term: "International Airport" and our lat/lng

    
#     # make request and print url
#     name_address = requests.get(base_url, params=params)
    
# #    print the name_address url, avoid doing for public github repos in order to avoid exposing key
# #     print(name_address.url)

# #    # convert to json
#     name_address = name_address.json()
#     print(json.dumps(name_address, indent=4, sort_keys=True))

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure